<ion-content class="ion-padding">
  <ion-card color="primary">
    <p color="white">Total Gastado</p>
    <p color="white">${{totalGasto}}
    </p>
  </ion-card>
  <h3>Dinero Gastado</h3>
  <ion-list *ngIf="recibos.length > 0">
        <ion-item *ngFor="let recibo of recibos">
          <ion-label>
            <h5>Descripcion: {{recibo.descripcion}}</h5>
            <p>Pagado por: {{recibo.persona}}</p>
            <p>Valor : {{recibo.monto}}</p>
            <p *ngIf="recibo.foto">Recibo validado</p>
            <p *ngIf="!recibo.foto">Recibo no validado</p>
          </ion-label>
        </ion-item>
  </ion-list>
  <ion-tab-button [routerLink]="['/nuevo-recibo']">
    <ion-icon name="save"></ion-icon>
    <ion-label>NuevoRecibo</ion-label>
  </ion-tab-button>
</ion-content>